<div class="w-3/3 p-4">
    <div class="flex justify-between">
        <h1 class="text-2xl text-gray-800 font-bold">Listagem de </h1>Clientes
        <button class="bg-blue-500 text-white py-2 px-4 rounded">Novo cliente</button>
    </div>

    <table class="w-full mt-10 bg-gray-100 rounded-xl drop-shadow-lg">
        <thead>
            <tr class="bg-blue-500 text-white">
                <th class="py-2 px-4 col-span-4 text-left">Id</th>
                <th class="py-2 px-4 col-span-4 text-left">Nome</th>
                <th class="py-2 px-4 col-span-2 text-left">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b" *ngFor="let cliente of clients">
                <td class="py-2 px-4 col-span-4 text-left">{{ cliente.id }}</td>
                <td class="py-2 px-4 col-span-4 text-left">{{ cliente.name }}</td>
                <td class="py-2 px-4 col-span-2 text-left">
                    <span class="bg-green-500 text-white py-1 px-2 rounded-full" *ngIf="cliente.active">Ativo</span>
                    <span class="bg-gray-400 text-white py-1 px-2 rounded-full" *ngIf="!cliente.active">Inativo</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
