<div class="grid grid-cols-12 min-h-screen">
  <div class="xl:col-span-2 md:col-span-3 flex-col flex gap-[2rem]  border-r-2 bg-blue-500 text-white">
    <div class="logo mt-8">
      <h3 class="flex justify-center items-center text-gray-900 text-[2rem]">
        <span class="text-white">ProMix</span>
      </h3>
    </div>
    <div>
      <a routerLink="/home/produtos" routerLinkActive="bg-white text-blue-500 border-b border-white"
        class="w-full flex items-center ps-[1rem] gap-[1rem] white py-[1rem] transition-all cursor-pointer hover:border-b-2 hover:border-white">
        <i class="pi pi-inbox"></i>
        Produtos
      </a>
      <a routerLink="/home/veiculos" routerLinkActive="bg-white text-blue-500 border-b border-white"
        class="w-full flex items-center ps-[1rem] gap-[1rem] white py-[1rem] transition-all  cursor-pointer hover:border-b-2 hover:border-white">
        <i class="pi pi-car"></i>
        Veículos
      </a>
      <a routerLink="/home/transportadoras" routerLinkActive="bg-white text-blue-500 border-b border-white"
        class="w-full flex items-center ps-[1rem] gap-[1rem] white py-[1rem] transition-all  cursor-pointer hover:border-b-2 hover:border-white">
        <i class="pi pi-truck"></i>
        Transportadoras
      </a>
      <a routerLink="/home/clientes" routerLinkActive="bg-white text-blue-500 border-b border-white"
        class="w-full flex items-center ps-[1rem] gap-[1rem] white py-[1rem] transition-all  cursor-pointer hover:border-b-2 hover:border-white">
        <i class="pi pi-users"></i>
        Clientes
      </a>
      <a routerLink="/home/pedidos" routerLinkActive="bg-white text-blue-500 border-b border-white"
        class="w-full flex items-center ps-[1rem] gap-[1rem] white py-[1rem] transition-all  cursor-pointer hover:border-b-2 hover:border-white">
        <i class="pi pi-book"></i>
        Pedidos
      </a>
    </div>
    <div class="w-full border-b-2"></div>
    <div class=" p-[1rem] flex flex-col gap-[1rem] h-full relative">
      <p>Preferências</p>
      <p
        class="w-full flex items-center hover:text-blue-500 ps-[1rem] gap-[1rem] py-[1rem] hover:bg-white transition-all rounded cursor-pointer">
        <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
        Configurações
      </p>

      <p
        class="w-full flex items-center hover:text-blue-500 ps-[1rem] gap-[1rem] py-[1rem] hover:bg-white transition-all rounded cursor-pointer">
        <i class="pi pi-question-circle" style="font-size: 2rem"></i>
        FAQ
      </p>

      <p
      (click)="logout()"
      class="w-2/3 flex items-center hover:text-blue-500 ps-[1rem] gap-[1rem] py-[1rem] hover:bg-white transition-all rounded cursor-pointer absolute bottom-3 self-center ">
      <i class="pi pi-sign-out" style="font-size: 2rem"></i>
      Sair
    </p>
    </div>
  </div>
  <div class="xl:col-span-10 md:col-span-9">
    <div class="p-[1rem]">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
