<div class="w-2/3 hmin-h-[300px] h-[40vh] bg-gray-100 rounded-xl drop-shadow-lg p-[1rem]" >
    <h5 class="text-gray-800 font-bold">Listagem de Requisicoes</h5>

    <div class="">
        <div class="grid grid-cols-12 py-10">
            <div class="col-span-4">Nome</div>
            <div class="col-span-4">Email</div>
            <div class="col-span-2">Data Cadastro</div>
            <div class="col-span-2">Status</div>
        </div>
        <div class="grid grid-cols-12 ">
            <div class="col-span-4">Kevin Diones Lopes</div>
            <div class="col-span-4">contatokevinlopes@gmail.com</div>
            <div class="col-span-2">24/10/2023</div>
            <div class="col-span-2">Ativo</div>
        </div>
        
    </div>
 </div>
