:host{
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    width: 100%;
    .register-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        .form-register{
            padding: 30px;
            border: 1px solid gray;
            min-height: 450px;
            min-width: 400px;
        }
    }
}