<main>
    <div class="register-container">
        <form [formGroup]="form" (ngSubmit)="handleFormSubmit()" class="form-register">
            <h3>Cadastro</h3>
            <div class="flex flex-col gap-2 w-full">
                <label htmlFor="username">Username</label>
                <input pInputText id="username" class="border" aria-describedby="username-help" formControlName="UserName"  />
            </div>
            <div class="flex flex-col gap-2 w-full ">
                <label htmlFor="username">Password</label>
                <!-- <input pInputText id="username" class="border" aria-describedby="password-help" formControlName="Password"  /> -->
                <p-password   class="border" formControlName="Password" [toggleMask]="true"></p-password>
            </div>

            <p-button label="Entrar" class="btn-login" [loading]="loading" ></p-button>
        </form>

    </div>

</main>